@model GameRealmWeb.ViewModels.LocationsViewModel

<h1>Locations</h1>

<h1>Hello, @ViewData["Username"] at @ViewData["Location"]!</h1>

<a href="/Account/Logout">Logout</a>
<a href="/Locations/History">Order History</a>
<a href="/Purchase/BuyGame">Buy new Game</a>